body
{
    background: 
    linear-gradient(0deg, #F4F4F4, #F4F4F4);
}
.box{
    
position: absolute;
height: 67px;
width: 1000px;

}
.todobox
{
height: 67px;
width: 759px;
margin-left: 341px;
margin-top: 98px;

box-sizing: border-box;
border: 2px solid #6C63FF;
border-radius: 6px;
}

.hooray
{
    display: flex;
    justify-content: center;
    align-items: center;
width: 486px;
height: 39px;

font-family: Roboto;
font-style: normal;

font-size: 33px;
line-height: 39px;

color: rgba(96, 96, 96, 1);
}

.snow1
{
position: absolute;
width: 477px;
height: 351px;
margin-left: 486px;
top: 337px;
} 
.toast
{
    position: relative ;
width: 668px;
height: 81px;
left: 386px;
top: 893px;

background: #6C63FF;
border-radius: 12px;


}
.toasttext
{ 
position: relative;
font-family: 'Roboto';
font-style: normal;

font-size: 40px;
text-align: center;
top: 20%;


/* identical to box height */


color: #FFFFFF;
}

